.wrapper {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.new-chat-container {
    width: 100%;
    margin: 10px auto;
    text-align: end;
}

#new-chat {
    width: fit-content;
    padding: 5px 10px;
    margin: 0 0 0 auto;
    background-color: #48485C;
    border: 1px solid #48485C;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#new-chat:hover {
    opacity: 0.8;
}

#chat-box {
    height: 500px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fafafa;
    overflow-y: auto;
}

audio::-webkit-media-controls-panel {
    background-color: #86F774;
  }

#chat-box > .gpt-chat {
    width: fit-content;
    max-width: 60%;
    margin: 10px auto 0px 7px;
    padding: 3px 10px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    background-color: #cccccc;
    font-size: 14px;
    text-align: start;
}

#chat-box > .user-chat {
    width: fit-content;
    max-width: 60%;
    margin: 10px 7px 0px auto;
    padding: 3px 10px;
    border: 1px solid #86F774;
    border-radius: 12px;
    background-color: #86F774;
    font-size: 14px;
    text-align: start;
}

#text-input {
    width: calc(100% - 100px);
    padding: 5px 10px;
    border-radius: 10px;
    border-color: #cccccc;
    background-color: #fafafa;
    font-size: 14px;
}

#text-submit {
    width: 80px;
}

#record {
    width: 70px;
    height: 70px;
    margin: 15px auto;
    border: none;
    background-color: white;
    background-image: url('/static/img/icon_record_start.svg');
    transition: all ease-out 0.2s 0s;
}

#record:hover {
    opacity: 0.8;
}

#record.recording {
    background-image: url('/static/img/icon_record_stop.svg');
}

.container_chat {
    /* background-color: antiquewhite; */
    /* background 투명도 20 */
    /* background: rgba(236, 227, 227, 0.95); */
    background: rgba(255, 255, 255, 0.92);


    font-family: Arial;
    overflow: hidden;
    /* 가장자리 */
    /* border-radius: 25px; */
    border-radius: 10px;

    /* 그림자 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);


    margin-top: 3%;
    margin-left: 0%;
    /* font-size: 28px; */
    /* padding: 10px 20px; */
    padding: 10px 20px;
    /* padding: 5% 10%; */
    width: 100%;
    min-height: 500px;
}

.list-group {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.list-group table {
    border: none;
    font-size: 16px;
    /* height: 270px; */
    height: 180px;
    width: 80%;
}