/* Main */
.chat_log_list {
    /* background-color: antiquewhite; */
    /* background: rgba(236, 227, 227, 0.95); */
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

    font-family: Arial;
    overflow: hidden;
    /* 가장자리 */
    border-radius: 10px;

    margin-top: 50px;
    font-size: 28px;
    padding: 20px 20px;
    /* padding: 5% 10%; */
    width: 100%;
}

#language-form {
    /* 내용물 수평으로 나열 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* 가운데 정렬 */
    margin: 0 auto;

    


    width: 70%;

}

#theme-form {
    /* 내용물 수직으로 나열 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 40px;
    /* min-width: 100%; */
    /* width: 50%; */
    
}

#language-select {
    margin-right: 100px;
    padding-right: 100px;
    
}

#titleInput {
    width: 70%;
    margin-bottom: 10px;

    font-size: 20px;
    height: 50px;
    /* 테두리 제거 */
    border: none;
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.bt1 {
    width: 150px;
}

.bt2 {
    width: 150px;
}


.chat-setting-btn {
    min-width: 200px;
}