/*----------- import Fonts -------------*/
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

/*======================================*/

.wrapper {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    text-align: center;
    color: #333;
    font-family: 'Orbit', sans-serif;
}

.new-chat-container {
    width: 100%;
    margin: 10px auto;
    text-align: left;
}

#new-chat {
    width: fit-content;
    padding: 5px 10px;
    margin: 0 0 0 auto;
    background-color: #89cdd6;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#new-chat:hover {
    background-color: #79bdc6;
}
#chat-box {
    height: 500px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fafafa;
    overflow-y: auto;
}

audio::-webkit-media-controls-panel {
    background-color: #aae7dd;
  }

.gpt-chat, .user-chat {
    width: fit-content;
    max-width: 60%;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    text-align: start;
}

.gpt-chat {
    margin: 10px auto 10px 10px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
}

.user-chat {
    margin: 10px 10px 10px auto;
    border: 1px solid #aae7dd;
    background-color: #aae7dd;
}

.chat-msg i, .chat-msg span {
    vertical-align: middle;
}

#chat-box i, #chat-form i {
    color: #48485C;
}

#chat-box i:hover, #chat-form i:hover {
    color: #2e2e36;
}

#chat-box hr {
    margin: 5px;
}

#text-input {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: #cccccc;
    background-color: #ffffff;
    font-size: 14px;
}

#text-submit {
    width: 80px;
}

#record {
    width: 70px;
    height: 70px;
    margin: 15px auto;
    border: none;
    background-color: transparent;
    background-image: url('/static/img/icon_record_start.svg');
    transition: all ease-out 0.2s 0s;
}

#record:hover {
    opacity: 0.8;
}

#record.recording {
    background-image: url('/static/img/icon_record_stop.svg');
}

#reset_record {
    min-width: 110px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#reset_record:hover {
    background-color: #ddd;
}

#submit {
    min-width: 110px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 0;
    box-shadow: none;
}


#feedback-btn{
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.feedback {
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.feedback div {
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
}

#feedback-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#feedback-btn i, #feedback-btn span {
    vertical-align: middle;
}
