{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}
    <div class = "content">
        <div class = "header">
            <h1>게시판 페이지입니다</h1>
            <hr class ="hr1" noshade>
        </div>
        
        <div style="text-align:right">
            <a href = "{% url 'community:write' %}">글쓰기</a>
        </div>

        <div class = 'container-com'>
            <table class = 'community-table'>
                <thead class = 'community-table-thead'>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                
                <tbody class = 'community-table-tbody'>
                    {% for obj in page_obj %}
                        <tr>
                            <td>{{obj.pk}}</td>
                            <td><a href="{% url 'community:detail' obj.pk %}">{{obj.title}}</a></td>
                            <td>{{obj.writer}}</td>
                            <td>{{obj.create_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class = 'com-number'>
            <ul>
                {% for page in pages %}
                    <li><a href ="?page={{page}}">{{page}}</a></li>
                {% endfor %}
            </ul>
        </div>

 

    </div>
{% endblock content %}