{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}

<div class = "content">
    <table class="board_for_read">
        <body style="background-image: url('{% static 'img/test4.png' %}');">
        <tbody>
            <tr>
                <td class="td_title" style="text-align:center; width:20%;">제목</td>
                <td style="padding:10px;">
                    {% comment %} <input type="text" name="title" id="title" value="{{ post.title }}" readonly/> {% endcomment %}
                    <span>{{ post.title }}</span>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center; width:20%;">작성일자</td>
                <td style="padding:10px;">
                    <span>{{ post.create_date }}</span>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center;">글쓴이</td>
                <td style="padding:10px;">
                    <span>{{ post.writer }}</span>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center;">내용</td>
                <td style="padding:10px; height:300px;">
                    {% comment %} <textarea name="detail" id="detail" rows="10" readonly>{{ post.contents }}</textarea> {% endcomment %}
                    <span>{{ post.contents }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:left;">
        <a href="{% url 'community:index' %}">> Home</a>
        {% if post.writer == user %}
            <a href = "{% url 'community:update' post.id %}">> 글 수정</a>
            <a href= "{% url 'community:delete' post.id %}">> 글 삭제</a>
        {% endif %}
    </div>
</div>

{% endblock content %}