{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}
    <table class="board_for_read">
        <tbody>
            <tr>
                <td class="td_title" style="text-align:center; width:20%;">제목</td>
                <td style="padding:10px;">
                    <input type="text" name="title" id="title" value="{{ post.title }}" readonly/>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center; width:20%;">작성일자</td>
                <td style="padding:10px;">
                    <span>{{ post.create_date }}</span>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center;">글쓴이</td>
                <td style="padding:10px;">
                    <span>{{ post.writer }}</span>
                </td>
            </tr>
            <tr>
                <td class="td_title" style="text-align:center;">내용</td>
                <td style="padding:10px;">
                    <textarea name="detail" id="detail" rows="10" readonly>{{ post.contents }}</textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:left;">
        <a href="{% url 'community:index' %}">> Home</a>
        <a >[글 수정]</a>
    </div>
{% endblock content %}