{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}
    <div class = "content">
        <div class = "header">
            <h1>게시판</h1>
            <hr class ="hr1" noshade>
        </div>
        {% if user.is_authenticated %}
            <div style="text-align:right">
                <a class="write_btn btn" href = "{% url 'community:write' %}">글쓰기</a>
            </div>
        {% endif %}
        <div class = 'container-com'>
            <table class = 'community-table'>
                <thead class = 'community-table-thead'>
                    <tr>
                        <th class="col1">번호</th>
                        <th class="col2">제목</th>
                        <th class="col3">글쓴이</th>
                        <th class="col4">등록일</th>
                    </tr>
                </thead>
                
                <tbody class = 'community-table-tbody'>
                    {% for obj in page_obj %}
                        <tr>
                            <td class="col1">{{obj.pk}}</td>
                            <td class="col2"><a href="{% url 'community:detail' obj.pk %}">{{obj.title}}</a></td>
                            <td class="col3">{{obj.writer}}</td>
                            <td class="col4">{{obj.create_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class = 'com-number'>
            <ul>
                {% for page in pages %}
                    <li><a href ="?page={{page}}">{{page}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}