{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}
<body style="background-image: url('{% static 'img/test4.png' %}');">
    <h1> POST 삭제</h1>
    {{post}} 글을 정말로 삭제하시겠습니까?
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="네, 삭제합니다">
    </form>
    <a href="{% url 'community:index' %}">아니오, 취소합니다</a>

{% endblock content %}