{% extends 'base.html' %}
{% load static %}

{% block title %}
    커뮤니티
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock extrahead %}

{% block content %}
    <div class="content">
        <div class = "header">
            {% comment %} <body style="background-image: url('{% static 'img/test4.png' %}');"> {% endcomment %}
            <h1>게시판</h1>
            <hr class ="hr1" noshade>
        </div>
        <div class="path-section">
            <a href="{% url 'community:index' %}">> Home</a>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td class="td_title" style="text-align:center; width:20%;">제목</td>
                        <td style="padding:10px;">
                            <span>{{ form.title }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_title" style="text-align:center; width:20%;">내용</td>
                        <td style="padding:10px;">
                            <span>{{ form.contents }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <input class="btn btn_right" type="submit" value="등록">
        </form>

    </div>
{% endblock content %}