{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}
TKL: Sign in
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper login-wrapper">
    <body style="background-image: url('{% static 'img/test4.png' %}');">
    <h2>로그인</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="id">ID</label>
        <input class="form-input" type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input class="form-input" type="password" name="password" id="password" placeholder="Password">

        {% if form.errors %}
        
            <div class="form-msg login-error-msg">
                로그인에 실패했습니다. 아이디와 비밀번호를 확인하세요.
            </div>

            <script>
                
                alert("로그인에 실패했습니다. 아이디와 비밀번호를 확인하세요.");
            </script>

        {% endif %}
        
        <input class="btn signin" type="submit" value="Sign in">
    </form>
    <div class="login_more"><a href="{% url 'id_find' %}">아이디 찾기</a><span>|</span><a href="#">비밀번호 찾기</a><span>|</span><a href="{% url 'signup_consent' %}">회원가입</a></div>
    <hr>
    {% comment %} <div class="login_google">
        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}">
            <i class="fa-brands fa-google"></i> Log in with Google
        </a>
    </div> {% endcomment %}
</div>
{% endblock content %}