{% extends "base.html" %}
{% load static %}

{% block title %}
TKL: Sign in
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper login-wrapper">
    <h2>로그인</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="id">ID</label>
        <input class="form-input" type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input class="form-input" type="password" name="password" id="password" placeholder="Password">
        <input class="btn signin" type="submit" value="Sign in">
    </form>
    <div class="login_more"><a href="#">아이디 찾기</a><span>|</span><a href="#">비밀번호 찾기</a><span>|</span><a href="{% url 'signup_consent' %}">회원가입</a></div>
    <hr>
    <div class="login_google"><button type="button"><img src="{% static 'img/google_icon.svg' %}" alt=""><span>Sign in with Google</span></button></div>
</div>
{% endblock content %}