{% extends "base.html" %}
{% load static %}

{% block title %}
TKL: Sign up
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper signup-wrapper">
    <h2>회원가입</h2>
    <p><span>*</span>는 필수 입력 항목입니다.</p>
    <form action="#" method="post">
        <label><span>*</span>ID</label>
        <input class="form-input" type="text" name="Username" placeholder="Username" required="">                          
        <div class="form-msg id-msg">* 아이디 관련 메시지 출력</div>
        <label><span>*</span>Password</label>
        <input class="form-input" type="password" name="pwd" placeholder="Password" required="">                          
        <div class="form-msg pwd-msg">* 패스워드 관련 메시지 출력</div>
        <label><span>*</span>Check password</label>
        <input class="form-input" type="password" name="pwd-check" placeholder="Password" required="">                          
        <div class="form-msg pwd-check-msg">* 패스워드 확인 관련 메시지 출력</div>
        <label><span>*</span>Email</label>
        <input class="form-input" type="email" name="email" placeholder="example@naver.com" required="">                          
        <div class="form-msg email-msg">* 이메일 관련 메시지 출력</div>

        <input class="btn signup" type="submit" value="Sign up">
    </form>
</div>
{% endblock content %}
