{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">AI 회화</a></li>
                    <li><a href="#">커뮤니티</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                     {% comment %}                     
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'signup' %}?next={{request.path}}">회원가입</a></li>
                        <li><a href="{% url 'login' %}?next={{request.path}}">로그인</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}?next={{request.path}}">로그아웃</a></li>
                    {% endif %}
                     {% endcomment %}
                 </ul>
                </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div id="page-footer">
        <div class="container">
            <p>
                <a href="#">개인정보처리방침</a><span>|</span><a href="#">이용약관</a>
                <span class="text-muted">Copyright © 2023 KT AIVLE 4th Team23 All Right Reserved</span>
            </p>
        </div>
    </div>
</body>
</html>
