{% extends "base.html" %}
{% load static %}
{% block title %}Tasty Korean Language{% endblock title %}

{% block extrahead %}
<style>
    .main_section {
        background-image: url('/static/img/bg29.jpg');
    }
</style>
{% endblock extrahead %}

{% block content %}
<main>
    <div class="content-area">
        <div class="service-description">
            <h1 class="banner_taital">Tasty Korean Language </h1>
            <h2>  한국어를 쉽고 재미있게 배우는 첫걸음
                환영합니다! </h2>
            <p>'Tasty Korean Language'는 외국인을 위한 혁신적인 한국어 학습 플랫폼입니다.</p>  
        </div>
        <div class="ai-practice">
            <a href="{% url 'aichat:chatsetting' %}">AI 회화 연습하기</a>
        </div>
        
    </div>
</main>
{% endblock content %}
