{% extends "base.html" %}
{% load static %}

{% block title %}
TKL: AI Chat
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,1,200" />
<link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper">    
    <div class="new-chat-container"><a id="new-chat" class="btn" href="{% url 'aichat:chatsetting' %}">New Chat</a></div>
    <div id="chat-box">
        {% for message, feedback in messages %}
            {% if message.sender == "system" %}
                <div class="gpt-chat">
                    <div class="chat-msg">
                        <i class="material-symbols-outlined" onclick="speak(this)">play_circle</i>
                        <span class="tts-text">{{ message }}</span>
                    </div>
                    <hr>
                    <span>{{ message.translated }}</span>
                </div>
            {% else %}
                <div class="user-chat">
                    <div class="chat-msg">
                        <i class="material-symbols-outlined" onclick="play_audio(this)">play_circle</i>
                        <audio src="{{ message.audio_path }}"></audio>
                        <span>{{ message.feedback.answer }}<span>
                    </div>
                    <hr>
                    <div id="feedback-btn" onclick="show_feedback(this)">
                        <i class="material-symbols-outlined">expand_more</i>
                    </div>
                    <div class="feedback" style="display:none;">
                        평가점수: {{ message.feedback.accuracy }} /5.0
                        <br>
                        오류율: {{ message.feedback.accuracy_detail }} %
                        <br>
                        <div>--- 피드백 ---</div>
                        You: {{ message }} <br>
                        {% if feedback %}
                            <ul>
                            {% for user, answer in feedback %}
                                <li><span style="color:red;">{{ user }}</span> > <span style="color:green;">{{ answer }}</span></li>
                            {% endfor %}
                            <ul>
                        {% else %}
                            <span style="color:green;">틀린 발음이 없어요! 참 잘했어요!<span>
                        {% endif %}
                        
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form id="chat-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="text-input" type="text" name="message" placeholder="메시지를 입력하세요">
        <div class="chat-msg" style="margin-top: 10px;">
            <i class="material-symbols-outlined" style="display:none;" onclick="speak(this)">play_circle</i>
            <span id="translated-result" class="tts-text"></span>
        </div>
    
        <!-- 녹음 시작, 중지 버튼 추가 -->
        <br>
        <div id="record_section" style="display: none;">
            <button id="record" type="button"></button>
            <button id="reset_record" style="display: none;">다시 녹음하기</button>
        </div>
        <input id="submit" class="btn" type="submit" value="전송" style="display: none;">
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    // 채팅 메시지 TTS
    let currentUtterance = null;
    function speak(element) {
        const synth = window.speechSynthesis;
        
        if (currentUtterance && synth.speaking) {
            synth.cancel(); // 음성 출력 중지
            currentUtterance = null;
            $(element).text("play_circle");
        }
        else {
            const text = $(element).siblings('.tts-text').text();
            const utterance = new SpeechSynthesisUtterance(text);
            utterance.onend = function(event) {
                currentUtterance = null;
                $(element).text("play_circle");
            };
            synth.speak(utterance);
            currentUtterance = utterance;
            $(element).text("stop_circle");
        }
    }

    // 사용자 채팅 음성 파일 재생 컨트롤
    function play_audio(element){
        var audio = $(element).siblings('audio')[0];
        if (audio.paused) {
            audio.play();
            $(element).text("stop_circle");
            audio.onended = function(event) {
                $(element).text("play_circle");
            };
        }
        else {
            audio.pause();
            audio.currentTime = 0;
            $(element).text("play_circle");
        }
    }

    // 피드백 영역 여닫기
    function show_feedback(element){
        var feedback = $(element).next();
        if (feedback.is(':hidden')){
            $(element).children('i').first().text("expand_less");
            feedback.show();
        }
        else {
            $(element).children('i').first().text("expand_more");
            feedback.hide();
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).ready(function(){
        // 채팅 시작 시 마지막 gpt 대화 메시지 읽어주기
        setTimeout(() => {
            speak($('.gpt-chat:last i'));
          }, 2000)

        // 채팅 스크롤 끝으로 내리기
        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);

        // 마지막 피드백 열기
        show_feedback($('.user-chat:last #feedback-btn'));

        let isRecording = false;

        if (navigator.mediaDevices){
            let recordArray = []; // 녹음 데이터 저장 변수

            navigator.mediaDevices.getUserMedia({audio: true})
            .then((stream) => {
                //const mediaRecorder = new MediaRecorder(stream);
                const mediaRecorder = new MediaRecorder(stream, {
                    audioBitsPerSecond : 16000,
                    sampleRate: 16000,
                });

                // 녹음 버튼 클릭했을 때
                $('#record').on('click', function(){
                    if (!isRecording){
                        mediaRecorder.start();
                        $(this).addClass('recording');
                        $('#reset_record, #submit').hide();
                    }
                    else {
                        mediaRecorder.stop();
                        $(this).removeClass('recording');
                        $('#reset_record, #submit').show();
                        $('#record').hide();
                    }
                    isRecording = !isRecording;
                });
                
                mediaRecorder.onstop = (event) => {
                    // 녹음 데이터 audio 태그 추가
                    var $audio = $('<audio controls>');
                    $('#chat-box').append($('<article class="user-chat">').append($audio));

                    const blob = new Blob(recordArray, {
                        //'type': 'audio/wav'
                        'type': 'audio/webm'
                    });
                    recordArray = [];

                    const audioURL = URL.createObjectURL(blob);
                    $audio.attr('src', audioURL);

                    $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                    
                    // 메시지와 녹음 내용 전송
                    $('#submit').on('click', function(){
                        // 전송 중 버튼 중복 처리 방지
                        $('#submit').css('pointer-events','none');

                        const formData = new FormData();
                        formData.append('message', $('#translated-result').text());
                        formData.append('audio_file', blob);
                        var csrftoken = getCookie('csrftoken');
                        // 서버로 FormData 전송
                        $.ajax({
                            async: false,
                            url: "{% url 'aichat:send' id %}", 
                            type: 'POST',
                            data: formData,
                            headers: {"X-CSRFToken": csrftoken},
                            processData: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            success: function(response) {
                                // Handle success if needed
                            },
                            error: function(error) {
                                // Handle error if needed
                            }
                        });
                    })
                };

                // 녹음 데이터 배열에 저장
                mediaRecorder.ondataavailable = (event) => {
                    recordArray.push(event.data);
                };

            })
            .catch((err) => {
                console.log(err);
                alert('Error accessing the microphone:', err);
            })

            // 원어 입력 한국어 텍스트 변환
            $('#text-input').on('input', function() {
                var message = $(this).val();
            
                if (message.trim() !== '') {
                    var csrftoken = getCookie('csrftoken');
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'aichat:translate' %}",
                        data: {'message': message},
                        headers: {"X-CSRFToken": csrftoken},
                        dataType: 'json',
                        success: function (data) {
                            var translatedMessage = data.translated_message;
                            if (translatedMessage) {
                                $('#translated-result').text(translatedMessage);
                                $('#chat-form i').show();
                            }
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                } else {
                        // 입력이 비어있는 경우 번역 결과 지우기
                    $('#translated-result').text('');
                    $('#chat-form i').hide();
                }
            });
            
            // 메시지 입력 변경 시 녹음, 제출 버튼 처리
            $('#text-input').keyup(function() {
                if ($('#text-input').val() != ''){
                    $('#record_section').show();
                    if ($('#reset_record').is(':visible')){
                        $('#submit').show();
                    }
                }
                else {
                    $('#record_section, #submit').hide();
                }
            })

            // 재녹음 기능
            $('#reset_record').click(function(){
                $('#chat-box > article').remove();
                $('#reset_record, #submit').hide();
                $('#record').show();
            })
        }
    });
    
</script>
{% endblock content %}