{% extends "base.html" %}
{% load static %}

{% block title %}
TKL: AI Chat
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper">
    <div id="chat-box">
        <div class="gpt-chat">
            gpt 대화 내용 + audio
        </div>
        <ul id="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    <form action="{% url 'aichat:send' %}" method="post">
        {% csrf_token %}
        <input type="text" name="message" placeholder="메시지를 입력하세요">
        <input type="submit" value="전송">
    </form>
    <button id="record"></button>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src= "{% static 'js/voiceRecord.js' %}"></script>
{% endblock content %}