{% extends "base.html" %}
{% load static %}

{% block title %}
TKL: AI Chat
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="wrapper">
    <div class="new-chat-container"><a id="new-chat" href="{% url 'aichat:chat' %}">New Chat</a></div>
    <div id="chat-box">
        {% for message in messages %}
            {% if message.sender == "system" %}
                <div class="gpt-chat">
                    {{ message }}
                </div>
            {% else %}
                <div class="user-chat">
                    {{ message }}
                    <br>
                    feedback : {{ message.feedback.feedback }}
                    <br>
                    accuracy : {{ message.feedback.accuracy }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form id="chat-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="text-input" type="text" name="message" placeholder="메시지를 입력하세요">
        <div id="translated-result" style="margin-top: 10px;"></div>
       
        <!-- 녹음 시작, 중지 버튼 추가 -->
        <br>
        <div id="record_section" style="display: none;">
            <button id="record" type="button"></button>
            <button id="reset_record" style="display: none;">Reset Recording</button>
        </div>
        <input id="submit" type="submit" value="전송" style="display: none;">
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function(){
        let isRecording = false;

        if (navigator.mediaDevices){
            let recordArray = []; // 녹음 데이터 저장 변수

            navigator.mediaDevices.getUserMedia({audio: true})
            .then((stream) => {
                const mediaRecorder = new MediaRecorder(stream);

                // 녹음 버튼 클릭했을 때
                $('#record').on('click', function(){
                    if (!isRecording){
                        mediaRecorder.start();
                        $(this).addClass('recording');
                        $('#reset_record, #submit').hide();
                    }
                    else {
                        mediaRecorder.stop();
                        $(this).removeClass('recording');
                        $('#reset_record, #submit').show();
                        $('#record').hide();
                    }
                    isRecording = !isRecording;
                });
                
                mediaRecorder.onstop = (event) => {
                    // 녹음 데이터 audio 태그 추가
                    var $audio = $('<audio controls>');
                    $('#chat-box').append($('<article class="user-chat">').append($audio));

                    const blob = new Blob(recordArray, {
                        'type': 'audio/wav'
                    });
                    recordArray = [];

                    const audioURL = URL.createObjectURL(blob);
                    $audio.attr('src', audioURL);
                    
                    // 메시지와 녹음 내용 전송
                    $('#submit').on('click', function(){
                        const formData = new FormData();
                        formData.append('message', $('#translated-result').text());
                        formData.append('audio_file', blob);
                        var csrftoken = getCookie('csrftoken');
                        // 서버로 FormData 전송
                        $.ajax({
                            async: false,
                            url: "{% url 'aichat:send' id %}", 
                            type: 'POST',
                            data: formData,
                            headers: {"X-CSRFToken": csrftoken},
                            processData: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            success: function(response) {
                                // Handle success if needed
                            },
                            error: function(error) {
                                // Handle error if needed
                            }
                        });
                    })
                };

                // 녹음 데이터 배열에 저장
                mediaRecorder.ondataavailable = (event) => {
                    recordArray.push(event.data);
                };

            })
            .catch((err) => {
                console.log(err);
                alert('Error accessing the microphone:', err);
            })

            // 원어 입력 한국어 텍스트 변환
            $('#text-input').on('input', function() {
                var message = $(this).val();
            
                if (message.trim() !== '') {
                    var csrftoken = getCookie('csrftoken');
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'aichat:translate' %}",
                        data: {'message': message},
                        headers: {"X-CSRFToken": csrftoken},
                        dataType: 'json',
                        success: function (data) {
                            var translatedMessage = data.translated_message;
                            if (translatedMessage) {
                                $('#translated-result').text(translatedMessage);
                            }
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                } else {
                        // 입력이 비어있는 경우 번역 결과 지우기
                    $('#translated-result').text('');
                }
            });

            // 메시지 입력 변경 시 녹음, 제출 버튼 처리
            $('#text-input').keyup(function() {
                if ($('#text-input').val() != ''){
                    $('#record_section').show();
                    if ($('#reset_record').is(':visible')){
                        $('#submit').show();
                    }
                }
                else {
                    $('#record_section, #submit').hide();
                }
            })

            // 재녹음 기능
            $('#reset_record').click(function(){
                $('#chat-box > article').last().remove();
                $('#reset_record, #submit').hide();
                $('#record').show();
            })
        }
    });
    
</script>
{% endblock content %}